trunk/src/TCG.Sheif/Web References/TCG.ResourcesService/ResourcesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateResources">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inf" type="tns:Resources" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Resources">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Categorie" type="tns:Categories" />
              <s:element minOccurs="0" maxOccurs="1" name="vcTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcContent" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcAuthor" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="iCount" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="vcKeyWord" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcEditor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cCreated" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cPostByUser" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcSmallImg" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcBigImg" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcShortContent" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcSpeciality" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cChecked" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cDel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcFilePath" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="dAddDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="dUpDateDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="vcTitleColor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cStrong" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SheifUrl" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Template">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SkinId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TemplateType" type="tns:TemplateType" />
              <s:element minOccurs="0" maxOccurs="1" name="iParentId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="iSystemType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="dUpdateDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="dAddDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="vcTempName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcUrl" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TemplateType">
        <s:restriction base="s:string">
          <s:enumeration value="SinglePageType" />
          <s:enumeration value="InfoType" />
          <s:enumeration value="ListType" />
          <s:enumeration value="OriginalType" />
          <s:enumeration value="SystemPage" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Categories">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Parent" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ResourceTemplate" type="tns:Template" />
              <s:element minOccurs="0" maxOccurs="1" name="ResourceListTemplate" type="tns:Template" />
              <s:element minOccurs="1" maxOccurs="1" name="iOrder" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="dUpdateDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="vcClassName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcDirectory" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="vcUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="cVisible" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataBaseService" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SkinId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CreateResourcesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResourcesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TCGSoapHeader" type="tns:TCGSoapHeader" />
      <s:complexType name="TCGSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateResourcesSoapIn">
    <wsdl:part name="parameters" element="tns:CreateResources" />
  </wsdl:message>
  <wsdl:message name="CreateResourcesSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResourcesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateResourcesTCGSoapHeader">
    <wsdl:part name="TCGSoapHeader" element="tns:TCGSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="ResourcesServiceSoap">
    <wsdl:operation name="CreateResources">
      <wsdl:input message="tns:CreateResourcesSoapIn" />
      <wsdl:output message="tns:CreateResourcesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResourcesServiceSoap" type="tns:ResourcesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateResources">
      <soap:operation soapAction="http://tempuri.org/CreateResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateResourcesTCGSoapHeader" part="TCGSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResourcesServiceSoap12" type="tns:ResourcesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateResources">
      <soap12:operation soapAction="http://tempuri.org/CreateResources" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateResourcesTCGSoapHeader" part="TCGSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResourcesService">
    <wsdl:port name="ResourcesServiceSoap" binding="tns:ResourcesServiceSoap">
      <soap:address location="http://www.tcgcms.cn/WebService/ResourcesService.asmx" />
    </wsdl:port>
    <wsdl:port name="ResourcesServiceSoap12" binding="tns:ResourcesServiceSoap12">
      <soap12:address location="http://www.tcgcms.cn/WebService/ResourcesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>